<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="@)ux8I%UR]1+u\)+OHz[L?bx%m!oIIx6|vH+OU]oj]`|ERDS{@o3L2;7yF9F7.Tom%tRw/#h1(,gJfws3GR3=Rzxf4h8qT8wo[COi9ig@su8.&amp;3YgecR4h;k{JTScTuRbs^#v*VnryU:7G#nj@3YZacsEg|J" />
    <add key="DatabaseNeedUpgrade" value="True" />
    <add key="RememberLogID" value="True" />
  </appSettings>
</configuration>
